<% @pledge = Pledge.new %>
<% @user = current_user if current_user %>
<%= form_for [@project, @pledge], :remote => true do |f| %>

  <p>Enter value you wish to pledge:</p>
  <%= f.number_field :value %>
  <%= hidden_field(:project, :id) %>
  <%= hidden_field(:user, :id) %>
  <%= f.submit "Pledge!", id: 'pledge-submit' %>
  <% end %>