<h1>Your pledges due for payment</h1>


<div class="cards">

  <% @pledges_due.each do |pledge| %>
  <div class='card'>
    <div class='card-header'>
      <%= pledge.project.name %>
    </div>

    <div class='card-copy'>
      <div class="pledge">
        <br>
         <strong><p>Reward claimed:</p></strong> <%= pledge.reward.description %>
        <br>
        <br>
       <strong><p>Pledge value:</p></strong> £<%= pledge.value %>
      </div>
    </div>
  </div>

  <% end %>
</div>

<% values_to_total = @pledges_due.map {|pledge| pledge.value} %>
<% total = values_to_total.sum %>
<strong>Total Due to be paid:  £<%= total %> </strong> <%= button_to 'pay now' %>
<br>
<br>