<h1><%= @user.username %></h1>


<p>Full name:</p>
<p><%= @user.name %> <%= @user.last_name %></p>

<p>Location:</p>
<p> <%= @user.city %> </p>

<h1>Projects</h1>
<div class="cards">
<% @user.projects.each do |project| %>
<div class='card'>
  <div class="card-image">
    <%= link_to image_tag(project.project_image), project_path(project) %>
  </div>
  <div class='card-header'><%= link_to project.name, project_path(project) %></div>
  <div class='card-copy'><p><%= project.summary %></p></div>
</div>
<% end %>
</div>
<br>

<h1>Pledges made</h1>

<% @user.pledges.each do |pledge| %>

<div class="pledge">

  <%= pledge.project.name %>
  <br>
  £<%= pledge.value %>
  <br>
  <br>
  <% if current_user %>
  <% if @user.id == current_user.id %>
  
  <% if pledge.project.success_and_closed && (pledge.paid == false) %>
  <%= button_to 'Pay now',  edit_project_pledge_path( pledge.project.id, pledge.id),method: :get  %>
  <%end%>

  <% if (pledge.project.active? == false) && (pledge.project.success == false) %>

  <div class="failed_project">
    <p>This project failed to meet it's target</p>
    </div>
  <% end %>

  <%= link_to "show details", pledge_path(pledge)%> 
  <% end %>
  
  <% end %>

 
</div>
<br>
<br>
<% end %>

<% if current_user %>
<%= link_to "Edit or cancel account", edit_user_registration_path if @user == User.find(current_user.id) %>
<% end %>

