<div class="page_main" id="profile-box">
  <div class="profile_box">
    <div class="profile_image">
      <%= image_tag(@user.user_image.url, alt: "Profile Image", width:400) %>
    </div>
    <div class="profile_info">
      <div class="profile-box2"> 
        <% if current_user %>
        <% if @user.id == current_user.id %>
        <div class="link">
          <%= link_to "Edit or cancel account", edit_user_registration_path %>
        </div>
        <% end %>
        <% end %>
      </div>
      <div class="profile-box1">   
        <h1><%= @user.username %></h1>
        <p><%= @user.name %> <%= @user.last_name %><img id="icon-dot" src='/assets/icons/dot2.png' %><%= @user.city %><img id="icon-dot" src='/assets/icons/dot2.png' %> Joined <%= @user.joined_date %> </p>
      </div>
      
    </div>
  </div>
</div>

<div class="page_main">
  <%= render 'accordion_tabs' %>
</div>



