<h1><%= @user.username %></h1>


<p>Full name:</p>
<p><%= @user.name %> <%= @user.last_name %></p>

<p>Location:</p>
<p> <%= @user.city %> </p>

<h1>Projects</h1>
<% @user.projects.each do |project| %>
<%= link_to "#{project.name}", project_path(project)%>
<% end %>
<br>

<h1>Pledges made</h1>


<% @user.pledges.each do |pledge| %>

<div class="pledge">
  <% if pledge.project.active? || pledge.project.success %>
  
  <% if current_user %>
  <% if pledge.project.success && pledge.user.id == current_user.id %>
  <div class="payment_due"> 
    <p>Project reached target! This Payment is now due</p> 
  </div>
  <% end %>
  <% end %>

  <%= button_to 'Pay now',  edit_project_pledge_path( pledge.project.id, pledge.id),method: :get %>
  <br>

  <%= pledge.project.name %>
  <br>
  £<%= pledge.value %>
  <br>
  <%= link_to "show details", pledge_path(pledge)%> 

  <% else %>
  <div class="project_failed"> 
    <p><%= "#{pledge.project.name} failed to meet target, pledge deleted." %></p>
  </div>
  <% end %> 
</div>
<br>
<br>
<% end %>

<% if current_user %>
<%= link_to "Edit or cancel account", edit_user_registration_path if @user == User.find(current_user.id) %>
<% end %>

