<div class='fancy-search'>
<%= form_tag projects_path, method: "get", class: 'search-form' do %>
  <%= label_tag('search', "Search for") %>
  <%= text_field_tag('search', @search, class: 'search-text', placeholder: 'Project name') %>
  show
  <div class="styled-select">
  <%= select_tag 'category_id', options_for_select(@categories.map {|c| [c.name, c.id]}.uniq.unshift(['all', 'all']), selected: @category_id) %>
  </div>
  projects in

  <div id='project_locations'>
    
    <div id="location_autocomplete">
      <%= text_field_tag nil, '', placeholder: 'search for locations', class: 'location_search', id: 'location_search' %>
    </div>

    <div class="selected_location" id="selected_location">
    </div>

    <%= hidden_field_tag 'location' %>
  </div>


  <%= submit_tag "Go" %>
<% end %>
</div>