<div class="home_about">
  <h4>Working together to fund your local community.</h4>
  <div class="home_about_link"><%= link_to 'Find Out More', 'pages/about' %></div>
  <div class="search_location">
    <%= render "home/search", :categories => @categories, :cities => @cities %>
  </div>
</div>

<div class="most-popular">
  <h4>Most popular</h4>
  <div class="cards">
    <% @most_popular.each do |project| %>
    <div class='card'>
      <div class="card-image">
        <%= link_to image_tag(project.project_image), project_path(project) %>
      </div>
      <div class='card-header'><%= link_to project.name, project_path(project) %></div>
      <div class='card-copy'><p><%= project.summary %></p></div>
    </div>
    <% end %>
  </div>
  <%= link_to 'See more popular projects...', projects_path(:request_type => 'most_popular', :category_id => @category_id, :search => @search, :loc => @location) %>
</div>

<div class="news_banner">
  <div class="news_img_1"><img src="assets/helping.jpg" width="260"></div>
  <div class="news_text_1"><h4>CrowdKitty help to get ideas designed, funded and realized.</h4><p>We provide the tools to help campaigns—large or small 
  —boost the awareness, funds and resources they need. Click on <%= link_to 'create a project', '/pages/contact' %> and start making your dreams for your community come true.</p></div>
</div>


<div class="finishing-soon">
  <h4>Finishing soon</h4>
  <div class="cards">
    <% @finishing_soon.each do |project| %>
    <div class='card'>
      <div class="card-image">
        <%= link_to image_tag(project.project_image), project_path(project) %>
        <%= project.days_remaining %> days remaining
      </div>
      <div class='card-header'><%= link_to project.name, project_path(project) %></div>
      <div class='card-copy'><p><%= project.summary %></p></div>
    </div>
    <% end %>
  </div>
  <%= link_to 'See more projects that are finishing soon...', projects_path(:request_type => 'finishing_soon', :category_id => @category_id, :search => @search, :loc => @location) %>
</div>

<div class="news_banner">
  <div class="news_img_2"><img src="assets/facebook-on-ipad.jpg" width="260"></div> 
  <div class="news_text_2"><h4>You can now sign into CrowdKitty using your facebook account.</h4><p><%= link_to 'Log on', new_user_session_path %>, discover and share the good news of a worthy cause in your area! Learn more about CrowdKitty and social networking <%= link_to 'here', '/pages/contact' %>.</p></div>
</div>


