<div class="home_about">
  <h4>Working together to fund your local community.</h4>
  <div class="home_about_link"><%= link_to 'Find Out More', 'pages/about' %></div>
  <div class="search_location">
    <%= render "home/search", :categories => @categories, :cities => @cities %>
  </div>
</div>

<div class="most-popular">
  <h5>Most popular</h5>
  <div class="cards">
    <% @most_popular.each do |project| %>

    
    <div class='card'>
      <div class="card-image">
        <%= link_to image_tag(project.project_image), project_path(project) %>
      </div>
      <div class='card-header'><%= link_to project.name, project_path(project) %></div>
      <div class='card-copy'><p><%= project.summary %></p></div>
    </div>
    <% end %>
  </div>
  <%= link_to 'See more...', projects_path(:request_type => 'most_popular', :category_id => @category_id, :search => @search, :loc => @location) %>
</div>

<div class="finishing-soon">
  <h5>Finishing soon</h5>
  <div class="cards">
    <% @finishing_soon.each do |project| %>
    <div class='card'>
      <div class="card-image">
        <%= link_to image_tag(project.project_image), project_path(project) %>
        <%= project.days_remaining %> days remaining
      </div>
      <div class='card-header'><%= link_to project.name, project_path(project) %></div>
      <div class='card-copy'><p><%= project.summary %></p></div>
    </div>
    <% end %>
  </div>
  <%= link_to 'See more...', projects_path(:request_type => 'finishing_soon', :category_id => @category_id, :search => @search, :loc => @location) %>
</div>

<div class="homepage_news">
<center>
    <div class="hover-tile-outer" id='left-tile'>
      <div class="hover-tile-container">
        <div class="hover-tile hover-tile-visible"><h4>Sign in with Facebook</h4></div>
        <div class="hover-tile hover-tile-hidden">
          <p>You can now sign in using your Facebook profile! Log into CrowdKitty and spread the news of a worthy local cause!</p>
        </div>
      </div>
    </div>
  
    <div class="hover-tile-outer" id='middle-tile'>
      <div class="hover-tile-container">
        <div class="hover-tile hover-tile-visible"><h4>Get involved today</h4></div>
        <div class="hover-tile hover-tile-hidden">
          <p>CrowdKitty helps local people find the support they need to make neighbourhood projects come to life. Why not get involved and help your community today?</p>
        </div>
      </div>
    </div>

    <div class="hover-tile-outer">
      <div class="hover-tile-container">
        <div class="hover-tile hover-tile-visible"><h4>Sign in with Facebook</h4></div>
        <div class="hover-tile hover-tile-hidden">
          <p>You can now sign in using your Facebook profile! Log into CrowdKitty and spread the news of a worthy local cause!</p>
        </div>
      </div>
    </div>
  </center>
</div>

