
<%= form_for @project do |f| %>

<% if (@project.start_date && @project.active?) && (current_user.role != "admin") %>
<p> You cannot edit an active project </p>
<% else %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :summary %>
  <%= f.text_area :summary %>
  <br>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br>
  <%= f.label :target %>
  <%= f.number_field :target %>
  <br>
  <%= f.label :start_date  %>
  <div class="date-select">
  <%= f.date_select :start_date %>
  </div>
  <br>
  <%= f.label :days %>
  <%= f.number_field :days %>
  <br>
  <% @categories = Category.all %>
  <%= f.label :category_id %>
  <%= f.select :category_id, options_from_collection_for_select(@categories, 'id', 'name') %>
  <br>
  <%#= f.label :location %>
  <%#= f.select :location, options_for_select(@cities.map{|c| [c.name,c]}) %>
  <%#= f.collection_select :location_id, Location.all, :id, :name %>
  <br>


  <%= label_tag :location %>
  <%#= hidden_field_tag 'project[location_id][]' %>

  <%#= label_tag :shim, '' %>
  <div id='project_locations'>
    
    <div id="location_checkbox" class="checkbox" style="display: none">
      <%= check_box_tag 'project[location_id]', @project.location ? @project.location.id : 'placeholder', true %>
      <%= label_tag @project.location ? @project.location.name : 'placeholder' %>
    </div>

    <div id="location_autocomplete">
      <%= text_field_tag :location_search, '', placeholder: 'search for locations' %>
    </div>
  </div>




  <%= f.label :project_image %><br>
  <%= f.file_field :project_image %>
  <br>
  <%= f.submit button_text %>

<% end %>
<% end %>