
<div class="search-container">
<%= form_tag projects_path, method: "get", class: 'projects-filter' do %>
<h3>Search for </h3>
<%= text_field_tag('search', @search, class: 'projects-search', placeholder: 'search') %> show
<div class="styled-select">
<%= select_tag 'category_id', options_for_select(@categories.map {|c| [c.name, c.id]}.uniq.unshift(['all', 'all']), selected: @category_id) %>
</div>
 projects in
<div class="styled-select">
<%= select_tag 'loc', options_for_select(@cities.map {|city| [city, city]}.uniq.unshift(['all locations', 'all']), selected: @location) %>
</div>
<% if @request_type %>
<%= hidden_field_tag 'request_type', @request_type %>
<% end %>
<%= submit_tag "Go" %>
<% end %><br>
</div>
<div class="current_projects">
<% case @request_type %>
<% when 'most_popular' %>
<h6>Most Popular Projects</h6>
<% when 'finishing_soon' %>
<h6>Projects Finishing Soon</h6>
<% else %>
<h6>Current Projects</h6>
<% end %><br>

<div class="cards">
  <% @projects.each do |project| %>
  <div class='card'>
    <div class="card-image">
      <%= link_to image_tag(project.project_image), project_path(project) %>
    </div>
    <div class='card-header'>
      <%= link_to "#{project.name}", project_path(project) %> 
      <% case @request_type %>
      <% when 'finishing_soon' %>
      <p><%= project.days_remaining %> days left</p>
      <% when 'most_popular' %>
      <p><%= project.pledges.count %> pledges</p>
      <% end %>
    </div>
    <div class='card-copy'>
      <p><%= project.summary %></p>
    </div>
  </div>
  <% end %>
  </div>







  