<%= form_tag projects_path, method: "get" do %>
  <%= select_tag 'category_id', options_for_select(@projects.map {|p| [p.category.name, p.category.id]}.uniq, selected: @projects.first.category.id) %>
  <% if @search %>
    <%= hidden_field_tag 'search', @search %>
  <% end %>
  <%= submit_tag "Filter" %>
<% end %>

<% @projects.each do |project| %>

<p><%= link_to "#{project.name}", project_path(project) %> </p>

<%end %>
