<div class="page_main">
  <h1><%= @project.name.capitalize %> </h1>
  <%= render "projects/success" if @project.success %>
  <% unless @project.not_open_yet %>
  <%= render "projects/failed" if @project.failed  %>
  <% end %>
  <%= social_share_button_tag(@project.name, :popup => "true") %>



  <div class="top_of_page_project">
    <div class="project_image">
      <div class="main-image-container">
        <%=image_tag(@project.project_image, alt: 'Project Image', id: "main-image") %>
      </div>
      <div class="gallery-container">
        <%=image_tag(@project.project_image, class: 'gallery-pictures', id: 'main-picture-thumb') %>
        <% @pictures.each_with_index do |p, i| %>
        <% id = 'gallery-picture' + i.to_s %>
        <%= image_tag p.image_url, id: id, class: 'gallery-pictures' %>
        <%= link_to "Edit Image", edit_picture_path(p), style: 'display: none' %>
        <% end %>
      </div>
      <p><%= @project.summary %> </p>
    </div>

    <div class="project_status">
      <%= render "status" %>
    </div>
  </div>


  <ul class="accordion-tabs-minimal">
    <li class="tab-header-and-content">
      <a href="#" class="tab-link is-active">Project Summary</a>
      <div class="tab-content">
        <div class="summary">
          <p><strong>Category:</strong> <%= @project.category.name %></p>
          <p><strong>Start date:</strong> <%= @project.human_readable_start_date %> </p>

          <p><strong>End date:</strong> <%= @project.human_readable_end_date %> </p>

          <p><strong>Created by:</strong>
            <%= link_to "#{@project.user.try(:name).capitalize}", user_path(@project.user) %> </p>

            <p><strong>Location:</strong> <%= @project.location.name.capitalize %> </p>

            <p><strong>Project description:</strong> <%= @project.description %> </p>

            <p><strong>Created:</strong> <%= @project.created_at.ago_in_words %> </p>
          </div>
        </div>
      </li>

      <li class="tab-header-and-content">
        <a href="#" class="tab-link">Rewards</a>
        <div class="tab-content">
          <% @project.rewards.each do |reward| %>
          <div class="reward">
            <% @reward = reward %>
            <h2><%= reward.description %></h2>

            <p>Minimum pledge for reward: £<%= reward.value %></p>

            <p>Quantity available: <%= reward.try(:quantity) %></p>

            <p>Delivery: <%= reward.delivery %></p>

            <p>Ships to: <%= reward.ships_to %></p>

            <% if @project.active? %>

            <%= render "pledges/new" if current_user  %>

            <% else %>
            <p>this project is not currently open to pledges</p>
            <% end %>

            <% if current_user %>

            <%= link_to 'Delete reward', project_reward_path( reward.project.id, reward.id),method: :delete, data: {confirm: "Are you sure?"} if @project.user_id == current_user.id %>
            <% end %> 
            <br>
          </div>
          <% end %>
          <% if current_user %>
          <%= render "rewards/new" if @project.user_id == current_user.id %>
          <% end %> 
        </div>
      </li>

      <li class="tab-header-and-content">
        <a href="#" class="tab-link">Comments</a>
        <div class="tab-content">

          <% if @project.active? %>
          <% @comment = Comment.new %>
          <%= render "comments/new" if current_user %>
          <% else %>
          <p>This project is not currently open for comments.</p>
          <% end %>
          <div id='comments'>
            <%= render "comments" %>
          </div>
        </div>
      </li>


    </ul>


    <div class="project-controls">
      <% if can? :edit, @project %>
      <%= button_to "Edit", edit_project_path, method: :get %>
      <% end %>

      <% if can? :destroy, @project %>
      <%= button_to 'Delete', project_path( @project.id),method: :delete, data: {confirm: "Are you sure?"} %>
      <% end %>
    </div>
  </div>