<p>Project name:</p>
<p><%= @project.name %> </p>

<p>Project summary:</p>
<p><%= @project.summary %> </p>

<p>Target:</p>
<p><%= @project.target %> </p>

<p>End date:</p>
<p><%= @project.end_date %> </p>

<p>Created by:</p>
<p><%= link_to "#{@project.user.try(:name)}", user_path(@project.user) %> </p>

<p>Location:</p>
<p><%= @project.location %> </p>

<p>Description:</p>
<p><%= @project.description %> </p>

<p>Created:</p>
<p><%= @project.created_at %> </p>

<%= link_to "Edit", edit_project_path %>
<br>

<h1>Rewards</h1>
<% @project.rewards.each do |reward| %>
<%= reward.description %>,
£<%= reward.value %>
<%= reward.try(:quantity) %>
<%= reward.delivery %>
<%= reward.ships_to %>
<br>
<% end %>

<%= render "rewards/new" if @project.user_id == current_user.id %>