<h1><%= @project.name.capitalize %> </h1>
<%= render "projects/success" if @project.success %>
<% unless @project.not_open_yet %>
<%= render "projects/failed" if @project.failed  %>
<% end %>



<div class="top_of_page_project">
  <div class="project_image">
    <%=image_tag(@project.project_image, alt: 'Project Image', width:600) %>
  </div>

  <div class="project_status">
    <p><strong>Target:</strong> £<%= @project.target %></p>

    <p><strong>Total raised so far:</strong>
    <div class="progress-bar-indication">
      <span class="meter" style="width: <%= @project.current_percentage %>%">
        <p>£<%= @project.total_raised %></p>
      </span>
    </div> </p>

    <p><strong>Total pledges needed to reach target:</strong> £<%= @project.funds_needed %></p>

    <p><strong>Days remaining:</strong>
    <% if @project.not_open_yet %>
    <%= "This project opens on #{@project.human_readable_start_date}." %>
    <% else %>
    <h1><%= @project.days_remaining %></h1>
    <% end %></p>

    <p><strong>End date:</strong> <%= @project.human_readable_date %> </p>

    <% if @project.active? %>
    <h4>Pledge any value for no reward</h4>
    <%= render "pledges/rewardless" %>
    <% else %>
    <p>This project is not currently open to pledges</p>
    <% end %>

  </div>
</div>


<ul class="accordion-tabs-minimal">
  <li class="tab-header-and-content">
    <a href="#" class="tab-link is-active">Project Summary</a>
    <div class="tab-content">
      <p>Category: <%= @project.category.name %></p>
      <p>Start date: <%= @project.human_readable_start_date %> </p>

      <p>End date: <%= @project.human_readable_end_date %> </p>

      <p>Created by:
      <%= link_to "#{@project.user.try(:name).capitalize}", user_path(@project.user) %> </p>

      <p>Location: <%= @project.location.capitalize %> </p>

      <p>Project summary: <%= @project.summary %> </p>

      <p>Description:</p>
      <p><%= @project.description %> </p>

      <p>Created:</p>
      <p><%= @project.created_at.ago_in_words %> </p>
    </div>
  </li>
  
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">Rewards</a>
    <div class="tab-content">
      <% @project.rewards.each do |reward| %>
      <div class="reward">
        <% @reward = reward %>
        <h2><%= reward.description %></h2>
       
        <p>Minimum pledge for reward: £<%= reward.value %></p>
     
        <p>Quantity available: <%= reward.try(:quantity) %></p>
      
        <p>Delivery: <%= reward.delivery %></p>
    
        <p>Ships to: <%= reward.ships_to %></p>
      
        <% if @project.active? %>
        <%= render "pledges/new"  %>
        <% else %>
        <p>this project is not currently open to pledges</p>
        <% end %>
        <br>
      </div>
      <% end %>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">Comments</a>
    <div class="tab-content">
      <% @comment = Comment.new %>
      <%= render "comments/new" %>

      <% comments_ordered = @project.comments.order(:created_at).reverse %>
      <% comments_ordered.each do |comment| %>

      <% @user = User.find(comment[:user_id])%>


      <% if @project.active? %>
      <% @comment = Comment.new %>
      <%= render "comments/new" %>
      <% else %>
      <p>This project is not currently open for comments.</p>
      <% end %>



      <h5> <%= "#{@user.name}" %> says: </h5>
      <p> <%= "#{comment.content}" %> </p>
      <h6><%= "#{comment.created_at.ago_in_words }" %> </h6>
      <%= link_to 'Delete comment', project_comment_path( comment.project.id, comment.id),method: :delete, data: {confirm: "Are you sure?"} %>


      <% end %>

      <% if current_user %>
      <%= render "rewards/new" if @project.user_id == current_user.id %>
      <% end %>    
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">Last Item</a>
    <div class="tab-content">
      <p>blah</p>
    </div>
  </li>
</ul>


<%= button_to "Edit", edit_project_path, method: :get if @project.editable? %>
<%= button_to 'delete', project_path( @project.id),method: :delete, data: {confirm: "Are you sure?"} %>
