


<h3><%= @project.name.capitalize %> </h3>

<div class="images-wrapper">
<%=image_tag(@project.project_image, alt: 'Project Image', width:600) %>
</div>

<%= render "projects/success" if @project.success %>
<%= render "projects/failed" if @project.failed %>



<p>Days remaining:</p>
<p><%= @project.days_remaining %></p>

<p>Target:</p>
<p>£<%= @project.target %> </p>

<p>Total raised so far:</p>
<p>£<%= @project.total_raised %></p>

<p>Total pledges needed to reach target</p>
<p>£<%= @project.funds_needed %></p>

<p>Start date:</p>
<p> <% @project.start_date %> </p>

<p>End date:</p>
<p><%= @project.end_date %> </p>


<p>Created by:</p>
<p><%= link_to "#{@project.user.try(:name)}", user_path(@project.user) %> </p>

<p>Location:</p>
<p><%= @project.location %> </p>

<p>Project summary:</p>
<p><%= @project.summary %> </p>

<p>Description:</p>
<p><%= @project.description %> </p>

<p>Created:</p>
<p><%= @project.created_at.ago_in_words %> </p>

<%= button_to "Edit", edit_project_path, method: :get %>
<%= button_to 'delete', project_path( @project.id),method: :delete, data: {confirm: "Are you sure?"} %>
<br>


<div class="reward">
<% if @project.active? %>
<h1>Pledge any value for no reward</h1>
<%= render "pledges/rewardless" %>
<% else %>
<p>You can no longer pledge, this project has closed</p>
<% end %>
</div>

<br>

<h1>Rewards</h1>
<br>
<% @project.rewards.each do |reward| %>
<div class="reward">
<% @reward = reward %>
<p>Description:</p>
<%= reward.description %>,
<br>
<br>
<p>Minimum pledge for reward:</p>
£<%= reward.value %>
<br>
<p>Quantity available:</p>
<%= reward.try(:quantity) %>
<br>
<p>Delivery:</p>
<%= reward.delivery %>
<br>
<p>Ships to:</p>
<%= reward.ships_to %>
<br>
<br>
<% if @project.active? %>
<%= render "pledges/new"  %>
<% else %>
<p>this project is now closed</p>
<% end %>

<br>

</div>
<% end %>


<% if current_user %>
  <%= render "rewards/new" if @project.user_id == current_user.id %>
<% end %>