<h1><%= @category.name %></h1>

<div class="category_boxes">
  the image of the category will go in here
  <%#= @category.picture %>
</div>

<div class="category_boxes">
  the description of the category will go in here
  <%#= @category.description %>
</div>

<div class="category_boxes">
  the following information about the category will go in here:
  <li>* category total raised so far - closed projects?</li>
  <li>* total number of projects included in this category</li>
  <li>* number of projects ending soon</li>
  
</div>

<div class="category_boxes">
  <h4>All <%= @category.name %> Projects</h4>
  <div class="category_box_projects">
    <% @category.projects.each do |project| %>
    <a href='<%= project_path(project) %>'>
    <div class="my_cards">
      <img src="<%= project.project_image %>">
      <div class="category_card_text">
        <h2><%= link_to (project.name), project_path(project) %></h2>
        <p><%= project.summary %></p>
      </div>
    </div>
    </a>
    <% end %>
  </div>
</div>