
<div class="header" id="category_header">
  <%= image_tag(@category.category_image, alt: "Category Image") %> 
  <h2><%= @category.name %></h2>
</div>


<div class="category_boxes">
  the description of the category will go in here
  <%#= @category.description %>
</div>

<div class="category_boxes">
  the following information about the category will go in here:
  <li>* category total raised so far - closed projects?</li>
  <li>* total number of projects included in this category</li>
  <li>* number of projects ending soon</li>
  
</div>


<div class="category_boxes">
  <h4>All <%= @category.name %> Projects</h4>

  <div class="cards">
    <% @category.projects.each do |project| %>

    <div class="card">

      <div class="card-image">
        <%= link_to image_tag(project.project_image), project_path(project) %>
      </div>
      <div class="card-header">
        <%= link_to (project.name), project_path(project) %>
      </div>
      <div class="card-copy">
        <p><%= project.summary %></p>
      </div>
    </div>
    <% end %>
  </div>
  
</div>
