<!DOCTYPE html>
<html>
<head>
  <title>CrowdKitty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Sansita+One' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<% if current_user %>
<%= render "layouts/due" if current_user.pledge_payments_due %>
<% end %>

  <header class="navigation" role="banner">
    <div class="navigation-wrapper">
      <nav role="navigation">
        <ul class="centered-navigation-menu show">
         <%= link_to image_tag('logo.jpg', size: '', alt: "Home", class: "logo"), root_path %>

         

         <% if can? :create, Project %>
         <li class="nav-link"><%= link_to 'Create Project', new_project_path %></li>
         <% end %>
         <li class="nav-link"><%= link_to 'Discover Projects', projects_path %></li>

         <!-- <li class="nav-link"><%#= link_to 'Search Projects', categories_path %></li> -->
         <% if user_signed_in? %>
         <li class="nav-link">
          <%= link_to "Profile", User.find(current_user.id) %> 
          <%= link_to "Logout", destroy_user_session_path, method: :delete %> 
        </li>
        <% else %>
        <li class="nav-link">
          <%= link_to "Login", new_user_session_path %>    
        </li>
        <li class="nav-link">
          <%= link_to "Register", new_user_registration_path %>
        </li> 
        <% end %>
      </ul>
    </nav>
    <div class="navigation-tools">
      <div class="search-bar">
        <form role="search" action="/projects" placeholder="search projects" >
          <input type="search" placeholder="Search projects" name="search" id="srch-term" class="nav-search">
          <button type="submit"><img src=<%= image_path "search-icon.png" %> alt="Search Icon"></button>
        </form>
      </div>
    </div>      
  </div>
</header>

<main>
 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>

 <%= yield %>
</main>


<footer class="footer" role="contentinfo">

  <div class="footer-links">
    <ul>
      <li><h3>Content</h3></li>
      <li class="nav-link"><%= link_to 'About', '/pages/about' %></li>
      <li class="nav-link"><%= link_to 'FAQs', '/pages/faq' %></li>
      <li class="nav-link"><%= link_to 'Contact Us', '/pages/contact' %></li>
    </ul>
    <ul>
      <li><h3>Projects</h3></li>
      <% if can? :create, Project %>
      <li class="nav-link"><%= link_to 'Create a Project', new_project_path %></li>
      <% end %>
      <li class="nav-link"><%= link_to 'Discover Projects', projects_path %></li>
      
    </ul>
    <ul>
      <li><h3>Legal</h3></li>
      <li class="nav-link"><%= link_to 'Terms and Conditions', '/pages/terms' %></li>
      <li class="nav-link"><%= link_to 'Privacy Policy', '/pages/privacy' %></li>
    </ul>
  </div>

  <hr>

  <p>© 2015 CrowdKitty. Registration no. 9843732</p>
</footer>

</body>
</html>
