<!DOCTYPE html>
<html>
<head>
  <title>CrowdKitty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul>
      <li><%= link_to 'Projects', projects_path %></li>
      <% if can? :create, Project %>
        <li><%= link_to 'Create Project', new_project_path %></li>
      <% end %>
      
      <li><%= link_to 'Categories', categories_path %></li>
      <% if user_signed_in? %>
        <li>
          <%= link_to "profile", user_path(current_user.id) %> 
          <%= link_to "logout", destroy_user_session_path, method: :delete %> 
        </li>
        <% else %>
        <li>
          <%= link_to "Login", new_user_session_path %>    
        </li>
        <li>
          <%= link_to "Register", new_user_registration_path %>
        </li> 
      <% end %>
    </ul>
  </nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

</body>
</html>
