<!DOCTYPE html>
<html>
<head>
  <title>CrowdKitty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Sansita+One' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js"></script>

</head>
<body>
<div class="fixed-header">
  <div class="notification_header">
    <div class="header_notification">
      <% if current_user %>
      <%= render "layouts/due" if current_user.pledge_payments_due %>
      <% end %>
    </div>

    <div class="header_login">
      <% if user_signed_in? %>
      <li class="nav-link">
        <%= link_to "Profile", User.find(current_user.id) %> 
        <img src='/assets/icons/dot.png' %>  
        <%= link_to "Logout", destroy_user_session_path, method: :delete %> 
      </li>
      <% else %>
      <li class="nav-link">
        <%= link_to "Login", new_user_session_path %> 
        <img src='/assets/icons/dot.png' %>  
        <%= link_to "Register", new_user_registration_path %>
      </li> 
      <% end %>
    </div>
  </div>

  <header class="navigation" role="banner">
    <div class="navigation-wrapper">
      <nav role="navigation">
        <ul class="centered-navigation-menu show">
         <%= link_to image_tag('logo.jpg', size: '', alt: "Home", class: "logo"), root_path %>


         <% if can? :create, Project %>
         <li class="nav-link"><%= link_to 'Create a Project', '/pages/create_page_advice' %><img src='/assets/icons/dot2.png' %></li> 
         <% end %>
         <li class="nav-link"><%= link_to 'Discover a Project', projects_path %><img src='/assets/icons/dot2.png' %></li>
         <li class="nav-link"><%= link_to 'How CrowdKitty Works', '/pages/how_it_works' %></li>

         
      </ul>
    </nav>
    <div class="navigation-tools">
      <div class="search-bar">
        <form role="search" action="/projects" placeholder="search projects" >
          <input type="search" placeholder="Search projects" name="search" id="srch-term" class="nav-search">
          <button type="submit"><img src=<%= image_path "search-icon.png" %> alt="Search Icon"></button>
        </form>
      </div>
    </div>      
  </div>
</header>
</div>

<main>
 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
 <%= yield %>
</main>


<footer class="footer" role="contentinfo">

  <div class="footer-links">
    <ul>
      <li><h3>About</h3></li>
      <li class="nav-link"><%= link_to 'The Team', '/pages/about' %></li>
      <li class="nav-link"><%= link_to 'How CrowdKitty Works', '/pages/how_it_works' %></li>
      <li class="nav-link"><%= link_to 'Contact Us', '/pages/contact' %></li>
    </ul>
    <ul>
      <li><h3>Projects</h3></li>
      <% if can? :create, Project %>
      <li class="nav-link"><%= link_to 'Create a Project', '/pages/create_page_advice' %></li>
      <% end %>
      <li class="nav-link"><%= link_to 'Discover a Project', projects_path %></li>
      
    </ul>
    <ul>
      <li><h3>Help</h3></li>
      <li class="nav-link"><%= link_to 'FAQs', '/pages/faq' %></li>
      <li class="nav-link"><%= link_to 'Terms and Conditions', '/pages/terms' %></li>
      <li class="nav-link"><%= link_to 'Privacy Policy', '/pages/privacy' %></li>
    </ul>
  </div>

  <hr>

  <p class="social_share">
    <a href="http://www.facebook.com"><img src="/assets/icons/facebook.png"></a>
    <a href="http://www.instagram.com"><img src="/assets/icons/instagram.png"></a>
    <a href="https://twitter.com/crowd_kitty"><img src="/assets/icons/twitter.png"></a>
  </p>

  <p id="footer_copyright">© 2015 CrowdKitty. Registration no. #########</p>
</footer>

</body>
</html>
